[Unit]
Description=Wait for %I

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
TimeoutStartSec=infinity
ExecStart=/usr/bin/mapper wait %I
