[Unit]
Description=Phosphor DBus Service Discovery Manager

[Service]
Restart=always
Type=dbus
ExecStart=/usr/bin/mapperx
BusName=xyz.openbmc_project.ObjectMapper
TimeoutStartSec=300
RestartSec=5

[Install]
WantedBy=multi-user.target
Alias=dbus-xyz.openbmc_project.ObjectMapper.service
